* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.potrait {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
}

.potrait img {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    object-fit: cover;
}

.texture {
    mix-blend-mode: multiply;
    filter: contrast(1.3);
}